body {
    background: linear-gradient(180deg, $morado-clarito 60%, $primary-color);

}

main{
    font-family: $font-primary;
    width: 100%;
    height: 100vh;
    display: flex;
    color: white;
    position: relative;
    overflow: auto;

}

.izquierda {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    width: 15%;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 3;
    position: sticky;
    top: 0px
    
}

.logo {
    display: flex;
    padding-top: 10%;
    height: 20%;
    justify-content: center;
    align-items: center;

    
    img {
        object-fit: contain;
        width: 70%;
        height: 70%;
    }
}

.menu {
    font-size: 1rem;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-style: solid;
    border-color: white;
    border-width: 1px;
    margin-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    
    
    

    .log {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 30%;

        img {
            width: 10%;
            
        }
    }

    .reg {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 10%;
        
        img {
            width: 10%;
            
        }
    }

}

.tienda {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10%;
    height: 10%;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
    border-bottom-style: solid;
    border-color: white;
    border-width: 1px;
    

        img {
            height: 20%;
        }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    height: 20%;
    color: white;
    border-bottom-style: solid;
    border-color: white;
    border-width: 1px;
    font-size: 1rem;
    justify-content: space-evenly;
}

.footer {
    padding-top: 10%;
    height: 20%;
    display: flex;
    align-items: center;
}

.derecha {
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.foto_random {
    width: 100%;
    height: 50%;
    z-index: 0;
}

.difuminado {
    // position: absolute;
    background-color: $morado-clarito;
    box-shadow: 0px 0px 40px 50px $morado-clarito;
    width: 100%;
    height: 2%;
    z-index: 1;

}
.titulo {
    font-size: 5rem;
    margin-top: 5%;
    padding-left: 3%;
}
.info {
    display: flex;
    margin-top: 4%;
    width: 90%;
    justify-content: space-around;
    padding-left: 2%;
    height: 39%;


    h1 {
        font-size: 3rem;
        
    }
}

.aboutGame{
    width: 60%;
    height: 100%;
    
}

.overview {
    width: 30%;
    padding-right: 5%;
    height: 100%;
}

.gameDesc {
    padding-top: 5%;
    padding-bottom: 2%;
}

.enlace{
    color: $color-salmon;
}

.top {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}

.bottom {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}




    button {
        margin-left: 3%;
        width: 15%;
        height: 40px;
        border-radius: 40px;
        background-color:  #9E4784;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1.3em;
        font-weight: 700;
        color: white;
    }
    
    


button:hover {
    background-color: $color-salmon;
    
}

.userInfo{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 20%;
    align-items: center;

    img{
        width: 20%;
    }
}

.logout{
    display: flex;
    align-items: center;
    border-radius: 40px;
    background: linear-gradient(135deg, #37306B, #66347F, #9E4784, #D27685);
    justify-content: center;
    height: 20%;
    margin-bottom: 2%;
}

